/* body 元素定义文档的主体。

body 元素包含文档的所有内容（比如文本、超链接、图像、表格和列表等等。） */
body {
	margin-top: 0px;/*定义网站上方空格 */
}

body,td,th {
	font-family: '宋体';/* 字体名称。按优先顺序排列。以逗号隔开。如果字体名称包含空格或中文，则应使用引号括起  */
	font-size: 13px;/*定义字体大小  */
	
}
form {
	margin:0px 0px 0px 0px;/* 相关属性：[ margin-top ] || [ margin-right ] || [ margin-bottom ] || [ margin-left ] 
	检索或设置对象四边的外延边距。 
            如果提供全部四个参数值，将按上、右、下、左的顺序作用于四边。 
            如果只提供一个，将用于全部的四边。 
            如果提供两个，第一个用于上、下，第二个用于左、右。 
            如果提供三个，第一个用于上，第二个用于左、右，第三个用于下。 
           非替代(non-Replaced)行内元素可以使用该属性设置左、右两边的外补丁；若要设置上、下两边的外补丁，必须先使该对象表现为块级或内联块级。 
           外延边距始终透明
	*/
	padding:0px 0px 0px 0px;
}
.STYLE2 {
	color:#333;/*颜色  黑色  */
}
.box1 {
	width:250px;/*宽  */
	height:20px;/*高*/
}

/*.box2 {
	width:250px;
	height:90px;
}*/



/*footer start  */
.footer{
	padding:4em 0px;
	background:#403f45;
}
.footer-top {
	text-align: center;
	margin-top: 2.5%;
}
.footer-top p{
	color:#fff;
	font-size:15px;
}
.footer-top p a{
	color:#fff;
}
.footer-top p a:hover{
	color:#ffeb00;
}
/*--footer-end--*/

/*--banner-starts--*/
.banner{
	background:url(../images/banner.jpg) no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:670px;
	position:relative;
}
.banner-top {
	position: absolute;
	width: 35%;
	padding: 2em 30px;
	background: rgba(228, 232, 246, 0.56);
	top: 20.5%;
	left: 13.5%;
}
.banner-top h1 {
	font-size: 2.4em;
	font-weight: 600;
	margin: 0;
	color: #000000;
}
.banner-bottom{
	margin-top:3%;
}
.bnr-left {
	width:22%;
	float:left;
}
.bnr-right {
	width:78%;
	float:right;
}
.bnr-left p {
	color: #000;
	font-size: 14px;
	font-weight: 700;
	margin-top: 10%;
}
select {
	padding: 9px 0px 9px 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	color: #9E9E9E;
	background: url(../images/arrow.png) no-repeat 95.5% 58% #fff;
	outline: none;
	border: none;
	width: 95%;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
}
.bnr-one{
	margin-top:3.3%;
}
.bnr-one:nth-child(1){
	margin-top:0;
}
.bnr-right input[type="text"] {
	width: 95%;
	color: #9E9E9E;
	outline: none;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	padding: 10px 10px;
	border: none;
	-webkit-appearance: none;
}
.date {
	background: url(../images/date-icon.png) no-repeat 95.5% 45% #fff;
	cursor: pointer;
}
.bnr-btn {
	margin: 5% 0 0 22.2%;
}
.bnr-btn input[type=submit]{
	color: #403F45;
	padding: 7px 13px;
	font-size: 14px;
	cursor: pointer;
	font-weight: 600;
	border: none;
	background: #ffeb00;
	outline: none;
}
.bnr-btn input[type=submit]:hover{
	background:#403F45;
	color:#fff;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
/*--banner-end--*/
.box2 {
	width:500px;
	height:300px;
}
.noshow{ display:none;}/* none： 隐藏对象。与visibility属性的hidden值不同，其不为被隐藏的对象保留其物理空间  */
/* 设置超链接的样式 */
A:link{   COLOR:#333;   TEXT-DECORATION:   none;   }  /*未访问的链接   TEXT-DECORATION:none无下划线  */
A:visited{   COLOR: #333;   TEXT-DECORATION:   none;    } /*已访问的链接  */  
A:active{   COLOR: #333;   TEXT-DECORATION:   none;  } /* 被选择的链接 */  
A:hover{   COLOR:#FF3300;   TEXT-DECORATION:   none; }   /*当鼠标悬停在连接上   红色*/
/* <' text-decoration-line '>： 指定文本装饰的种类。相当于CSS2.1的 <' text-decoration '> 属性，可取值：none | underline | overline | line-through | blink  */
A.left1:link{   COLOR:#2160c1; font-weight:bolder;  TEXT-DECORATION:   none;   }   
A.left1:visited{   COLOR:   #2160c1; font-weight:bolder; TEXT-DECORATION:   none;    }   
A.left1:active{   COLOR:   #2160c1;  font-weight:bolder; TEXT-DECORATION:   none;  }   
A.left1:hover{   COLOR:#FF3300;  font-weight:bolder; TEXT-DECORATION:   none; }   